## --- ANGULAR / NODE.JS ---
# Dependências
node_modules/
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Cache do Angular e ferramentas
.angular/
.cache/
.npm/

# Logs de erro do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Testes de Front-end
/coverage/
/screenshots/
.sr-only/

## --- .NET / VISUAL STUDIO ---
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
*Migrations

## --- PACOTES E ARTEFATOS ---
*.nupkg
*.snupkg
packages/
!packages/build/
project.lock.json
artifacts/


## --- SEGURANÇA E AMBIENTE --- 
.env
.env.*
appsettings.Development.json
appsettings.Local.json
# Se você usa environments no Angular para dados sensíveis:
src/environments/environment.development.ts
src/environments/environment.prod.ts

## --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db
desktop.ini

## --- IDE SETTINGS ---
.idea/
*.iws
*.iml
*.ipr

.claude